/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header__image {
  width: 100%;
  display: block;
}
.header__link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .header {
    text-align: center;
  }
}
.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.task__label {
  width: 56%;
  display: inline-block;
  flex-grow: 1
}
.section__wrapper {
  display: flex;
  margin-top: 19px;
}
.task-list {
  margin: 0;
  padding: 0px;
  list-style: none;
}
.button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
  outline: none;
}
.button:hover {
  color: #3a3a3a;
}
.hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}
/* Heading */
.section__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 46px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.section__title_bottom-one {
  padding-top: 31px;
}

/* New Task */
.new-task-input {
  width: 318px;
  flex-grow: 1;
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  outline: none;
}
.new-task-input:focus {
  color: #333;
}

/* Task list */
.task {
  overflow: hidden;
  padding: 18px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task__checkbox {
  margin: 0 10px;
  outline: none;
}
.task__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.button__icon {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.button__icon:hover {
  transform: rotateZ(0);
}

/* Completed */
.task__label_completed {
  text-decoration: line-through
  color: #888;
}

/* Edit Task */
.task__input {
  display: none
}

.task__input_edit-mode {
  display: inline-block;
  width: 224px
  flex-grow: 1;
  flex-grow: 1;
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  outline: none;
}
.task__input_edit-mode:focus {
  color: #333;
}

.task__label_edit-mode {
  display: none;
}